########################
####Pano Puppet Conf####
########################

####
##SSL Configuration for PuppetDB
####
# Must have a slash "/" at the end of the URL
PUPPETDB_HOST = "https://puppetdb.example.com:8081/"
PUPPETDB_CERTIFICATES = ('/path/to/publickey.pem', '/path/to/private_key.pem') # (None, None) if you don't have any cert
PUPPETDB_VERIFY_SSL = '/path/to/ca.pem' # Default value False

####
##Non-SSL Configuration for PuppetDB
####
PUPPETDB_HOST = "http://puppetdb.example.com:8080/"
PUPPETDB_CERTIFICATES = (None, None)
PUPPETDB_VERIFY_SSL = False

# Clientbucket Settings -- For SSL read the SSL configuration example for PuppetDB
PUPPETMASTER_CLIENTBUCKET_SHOW = True
PUPPETMASTER_CLIENTBUCKET_HOST = "https://puppetmaster.example.com:8140/"
PUPPETMASTER_CERTIFICATES = (None, None) #  ('/path/to/ssl_cert', '/path/to/ssl_key')
PUPPETMASTER_VERIFY_SSL = False

# Fileserver Settings
PUPPETMASTER_FILESERVER_SHOW = True
PUPPETMASTER_FILESERVER_HOST = "https://puppetmaster.example.com:8140/"
PUPPETMASTER_FILESERVER_CERTIFICATES = ('/path/to/publickey.pem', '/path/to/private_key.pem') # (None, None) if you don't have any cert
PUPPETMASTER_FILESERVER_VERIFY_SSL = '/pat/to/ca.pem'

# Puppet Agent Run Interval
PUPPET_RUN_INTERVAL = 30

# Authentication method
# Available auth methods = ldap...
# It will fallback to auth in django, so if you have created accounts in django admin page
# they will be able to log in.
AUTH_METHOD = "LDAP"
LDAP_SERVER = "ldap://xxx:389"
LDAP_BIND_DN = ""
LDAP_BIND_PW = ""
LDAP_USEARCH_PATH = ""
LDAP_GSEARCH_PATH = ""
LDAP_ALLOW_GRP = ""
LDAP_DENY_GRP = None


# Caching Time Settings
# Set cache time to 0 to disable caching
CACHE_TIME = 60  # 60 Seconds cache time