<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PanoPuppet</title>
    {% load staticfiles %}
    <!-- jQuery library -->
    <script src="{% static 'pano/js/jquery.1.11.1.min.js' %}"></script>
    <script src="{% static 'pano/js/custom.js.min.js' %}"></script>
    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="{% static 'pano/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pano/css/custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'pano/tablesorter/theme.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pano/css/metisMenu.min.css' %}">
    <script src="{% static 'pano/js/metisMenu.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/font-awesome.min.css' %}">
    {% block head %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'pano/favicon.ico' %}" type="image/x-icon">
</head>
<body>
{% load tz %}

<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'dashboard' %}?show=recent">PanoPuppet</a>
            </div>
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li{% if "pano/nodes" in request.path %} class="active"{% endif %}>
                        <a href="{% url 'nodes' %}">Nodes</a>
                    </li>
                    <li{% if "pano/catalog" in request.path %} class="active"{% endif %}>
                        <a href="{% url 'catalog' %}">Catalogues</a>
                    </li>
                    <li {% if "pano/analytics" in request.path or "pano/eventanalytics" in request.path %}
                        class="active"{% elif "pano/event_analytics" in request.path %} class="active" {% endif %}
                        class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                            href="#">Analytics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'event_analytics' %}">Events</a></li>
                            <li><a href="{% url 'analytics' %}">Run Times</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="#">PuppetDB<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {# for servers in list.... #}
                            {% for server in SOURCES %}
                                <li><a href="?source={{ server }}">{{ server }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a target="_blank" href="{% url 'radiator' %}">Radiator</a></li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if user.is_authenticated %}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <form action="{% url 'nodes' %}" method="get">
                            <div class="input-group custom-search-form">
                                <input type="text" name="quick_search" class="form-control"
                                       placeholder="Node Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li>
                        <a href="#">Dashboard<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="recent"
                                        {% if "pano/dashboard" in request.path %} onclick="get_nodes(this).done(); return false;{% endif %}"
                                   href="{% if "pano/dashboard" not in request.path %}{% url 'dashboard' %}{% endif %}?show=recent">
                                    <i class="text-primary fa fa-play-circle fa-fw"></i> Recent</a>
                            </li>
                            <li>
                                <a id="failed"
                                        {% if "pano/dashboard" in request.path %} onclick="get_nodes(this).done(); return false;{% endif %}"
                                   href="{% if "pano/dashboard" not in request.path %}{% url 'dashboard' %}{% endif %}?show=failed">
                                    <i class="text-danger fa fa-exclamation-circle fa-fw"></i> Failed</a>
                            </li>
                            <li>
                                <a id="changed"
                                        {% if "pano/dashboard" in request.path %} onclick="get_nodes(this).done(); return false;{% endif %}"
                                   href="{% if "pano/dashboard" not in request.path %}{% url 'dashboard' %}{% endif %}?show=changed">
                                    <i class="text-success fa fa-plus-circle fa-fw"></i> Changed</a>
                            </li>
                            <li>
                                <a id="pending"
                                        {% if "pano/dashboard" in request.path %} onclick="get_nodes(this).done(); return false;{% endif %}"
                                   href="{% if "pano/dashboard" not in request.path %}{% url 'dashboard' %}{% endif %}?show=pending">
                                    <i class="text-info fa fa-info-circle fa-fw"></i> Pending</a>
                            </li>
                            <li>
                                <a id="unreported"
                                        {% if "pano/dashboard" in request.path %} onclick="get_nodes(this).done(); return false;{% endif %}"
                                   href="{% if "pano/dashboard" not in request.path %}{% url 'dashboard' %}{% endif %}?show=unreported">
                                    <i class="text-warning fa fa-question-circle fa-fw"></i> Unreported</a>
                            </li>
                            <li>
                                <a id="mismatch"
                                        {% if "pano/dashboard" in request.path %} onclick="get_nodes(this).done(); return false;{% endif %}"
                                   href="{% if "pano/dashboard" not in request.path %}{% url 'dashboard' %}{% endif %}?show=mismatch">
                                    <i class="text-info fa fa-exclamation-triangle fa-fw"></i> Mismatching
                                    Timestamps</a>
                            </li>
                        </ul>
                    </li>
                    {% if certname %}
                        <li>
                            <a href="#">{{ certname }}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'reports' certname %}"><i class="fa fa-newspaper-o fa-fw"></i>
                                        Reports</a>
                                </li>
                                <li>
                                    <a href="{% url 'facts' certname %}"><i class="fa fa-bar-chart fa-fw"></i> Facts</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{% url 'api_catalogues' certname %}?save=true"><i class="fa fa-floppy-o fa-fw"></i> Save latest catalogue</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#">Links<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        <li>
                                <a target="_blank" href="https://github.com/propyless/panopuppet"><i
                                        class="fa fa-github fa-fw"></i>
                                    Project Page</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/propyless/panopuppet/wiki"><i
                                        class="fa fa-info-circle fa-fw"></i>
                                    Wiki</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/propyless/panopuppet/issues"><i
                                        class="fa fa-bug fa-fw"></i>
                                    Issue Tracker</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-search">
                        {{ requests }}
                        {% get_current_timezone as TIME_ZONE %}
                        <form action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="url" value="{{ request.path|urlencode }}"/>
                            <label for="timezone">
                                <select class="btn btn-default form-control" name="timezone"
                                        onchange="this.form.submit()">
                                    {% for tz in timezones %}
                                        <option value="{{ tz }}"{% if tz == TIME_ZONE %}
                                                selected="selected"{% endif %}>{{ tz }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div {% if user.is_authenticated %}id="page-wrapper" style="min-height: 327px;"{% endif %}>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
