{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}
{% block head %}
    {% load static %}
    <script src="{% static 'pano/js/dataTables.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/dataTables.bootstrap.min.css' %}">
    <script src="{% static 'pano/js/bootbox.min.js' %}"></script>
    <script src="{% static 'pano/js/custom.js.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            get_dashboard_nodes();
        });
    </script>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" align="center">
                <p class="bg-danger img-rounded"><strong>Failed Nodes</strong></p>

                <p id="failed_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-success img-rounded"><strong>Status Changed</strong></p>

                <p id="changed_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Pending Nodes</strong></p>

                <p id="pending_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-warning img-rounded"><strong>Unreported Nodes</strong></p>

                <p id="unreported_nodes"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Population</strong></p>

                <p id="node_population"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Resources Managed</strong></p>

                <p id="total_resources"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Average Resource per Node</strong></p>

                <p id="average_resources"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Mismatching Timestamps</strong></p>

                <p id="mismatching_timestamps"></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table id="nodetable" class="table table-condensed table-striped table-bordered" cellspacing="0"
                       width="100%">
                </table>
            </div>
        </div>
    </div>
{% endblock %}
