{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}
{% block head %}
    {% load static %}
    <script src="{% static 'pano/js/dataTables.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/dataTables.bootstrap.min.css' %}">
    <script src="{% static 'pano/js/bootbox.min.js' %}"></script>
    <script src="{% static 'pano/js/custom.js.min.js' %}"></script>
  <script>
        function get_data() {
            var backgroundTask = $.Deferred();
            var url = '../api/dashboard/';
            if (typeof (GetURLParameter('show')) != 'undefined') {
                var show_type = $('#' + GetURLParameter('show'));
                url = url + show_type.attr('href');
            }
            else if (typeof (GetURLParameter('show')) == 'undefined') {
                show_type = $('#recent');
                url = url + show_type.attr('href');
            }
            $(show_type).addClass("active").prependTo($(show_type).parent()).siblings().removeClass("active");
            $.get(url, function (json) {
                        var response = $(jQuery(json));
                        var nodes = response[0]['node_list'];
                        var data = '';
                        $("#failed_nodes").html(response[0]['failed_nodes']);
                        $("#changed_nodes").html(response[0]['changed_nodes']);
                        $("#pending_nodes").html(response[0]['pending_nodes']);
                        $("#unreported_nodes").html(response[0]['unreported_nodes']);
                        $("#node_population").html(response[0]['population']);
                        $("#total_resources").html(response[0]['total_resource']);
                        $("#average_resources").html(response[0]['avg_resource']);
                        $("#mismatching_timestamps").html(response[0]['mismatching_timestamps']);
                    });
{#                    .fail(function () {#}
{#                        var data = '<tr><td colspan="8">Can not connect to PuppetDB.</td></tr>';#}
{#                        $("#dashboard_nodes").html(data);#}
{#                    });#}
            backgroundTask.resolve();
            return backgroundTask;
        }

    </script>
    <script>
        $(document).ready(function () {
            get_dashboard_nodes();
        });
    </script>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" align="center">
                <p class="bg-danger img-rounded"><strong>Failed Nodes</strong></p>

                <p id="failed_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-success img-rounded"><strong>Status Changed</strong></p>

                <p id="changed_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Pending Nodes</strong></p>

                <p id="pending_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-warning img-rounded"><strong>Unreported Nodes</strong></p>

                <p id="unreported_nodes"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Population</strong></p>

                <p id="node_population"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Resources Managed</strong></p>

                <p id="total_resources"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Average Resource per Node</strong></p>

                <p id="average_resources"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Mismatching Timestamps</strong></p>

                <p id="mismatching_timestamps"></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table id="nodetable" class="table table-condensed table-striped table-bordered" cellspacing="0"
                       width="100%">
                </table>
            </div>
        </div>
    </div>
{% endblock %}
