{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}

{% block head %}
    {% load static %}
    <!-- table sorter stuff -->
    <link rel="stylesheet" href="{% static 'pano/tablesorter/theme.bootstrap.min.css' %}">
    <script src="{% static 'pano/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'pano/tablesorter/jquery.tablesorter.widgets.min.js' %}"></script>
    <!-- dateTime widget -->
    <link rel="stylesheet" href="{% static 'pano/css/bootstrap-datetimepicker.min.css' %}">
    <script src="{% static 'pano/js/moment.js' %}"></script>
    <script src="{% static 'pano/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script id="js">$(function () {

        // NOTE: $.tablesorter.theme.bootstrap is ALREADY INCLUDED in the jquery.tablesorter.widgets.js
        // file; it is included here to show how you can modify the default classes
        $.tablesorter.themes.bootstrap = {
            // these classes are added to the table. To see other table classes available,
            // look here: http://getbootstrap.com/css/#tables
            table: 'table table-condensed',
            caption: 'caption',
            // header class names
            header: 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
            sortNone: '',
            sortAsc: '',
            sortDesc: '',
            active: '', // applied when column is sorted
            hover: '', // custom css required - a defined bootstrap style may not override other classes
            // icon class names
            icons: '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
            iconSortNone: 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
            iconSortAsc: 'icon-chevron-up glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
            iconSortDesc: 'icon-chevron-down glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
            filterRow: '', // filter row class
            footerRow: '',
            footerCells: '',
            even: '', // even row zebra striping
            odd: ''  // odd row zebra striping
        };

        // call the tablesorter plugin and apply the uitheme widget
        $("#details_table").tablesorter({
            // this will apply the bootstrap theme if "uitheme" widget is included
            // the widgetOptions.uitheme is no longer required to be set
            theme: "bootstrap",
            {% block sortbycol %}
                {% if request.GET.show_status == 'failed' %}
                    sortList: [[1, 1]],
                {% elif request.GET.show_status == 'skipped' %}
                    sortList: [[2, 1]],
                {% elif request.GET.show_status == 'success' %}
                    sortList: [[3, 1]],
                {% elif request.GET.show_status == 'noop' %}
                    sortList: [[4, 1]],
                {% else %}
                    sortList: [[1, 1]],
                {% endif %}
            {% endblock %}
            widthFixed: true,

            headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

            // widget code contained in the jquery.tablesorter.widgets.js file
            // use the zebra stripe widget if you plan on hiding any rows (filter widget)
            widgets: ["uitheme", "filter"],

            widgetOptions: {
                // using the default zebra striping class name, so it actually isn't included in the theme variable above
                // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
                zebra: ["even", "odd"],

                // reset filters button
                filter_reset: ".reset"

                // set the uitheme widget to use the bootstrap theme class names
                // this is no longer required, if theme is set
                // ,uitheme : "bootstrap"

            }
        })
    });</script>
    <!-- datetimepicker & clickable row logics -->
    <script>
        jQuery(document).ready(function ($) {
            $(function () {
                var dt_from_url = GetURLParameter('dt_from');
                var dt_to_url = GetURLParameter('dt_to');
                var dtp_from = $('#dtp_from');
                var dtp_to = $('#dtp_to');
                dtp_from.datetimepicker(
                        {
                            format: 'YYYY-MM-DD HH:mm',
                            sideBySide: true,
                            stepping: 5,
                            toolbarPlacement: 'top',
                            showClear: true,
                            showTodayButton: true
                        }
                );
                dtp_to.datetimepicker(
                        {
                            format: 'YYYY-MM-DD HH:mm',
                            sideBySide: true,
                            stepping: 5,
                            toolbarPlacement: 'top',
                            showClear: true,
                            showTodayButton: true,
                            useCurrent: false //Important! See issue #1075
                        }
                );
                // Prevent user from specifying bad dates
                dtp_from.on("dp.change", function (e) {
                    // Bind to the dtp event "update"
                    dtp_to.data("DateTimePicker").minDate(e.date);
                    dtp_from.removeClass('has-error');
                });
                dtp_to.on("dp.change", function (e) {
                    dtp_from.data("DateTimePicker").maxDate(e.date);
                    dtp_to.removeClass('has-error');
                });

                if (typeof dt_from_url != 'undefined' && typeof dt_to_url != 'undefined') {
                    dtp_from.data("DateTimePicker").date(decodeURIComponent(dt_from_url));
                    dtp_to.data("DateTimePicker").date(decodeURIComponent(dt_to_url));
                }
            });

            $("#dt_submit").click(function () {
                var dtp_from = $('#dtp_from');
                var dtp_to = $('#dtp_to');
                var dtp_from_input = $('#dtp_from_input').val();
                var dtp_to_input = $('#dtp_to_input').val();

                if (dtp_from_input == '') {
                    dtp_from.addClass('has-error');
                }
                if (dtp_to_input == '') {
                    dtp_to.addClass('has-error');
                }
                if (dtp_to_input != '' && dtp_from_input != '') {
                    var url_path = window.location.origin + window.location.pathname + '?';
                    var dt_from = GetURLParameter('dt_from');
                    var dt_to = GetURLParameter('dt_to');

                    // If value is assigned use the value parameter.
                    var show_value = GetURLParameter('value');
                    if (typeof show_value != 'undefined') {
                        url_path += 'value=' + show_value + '&';
                    }

                    // If value is undefined and show_summary is not.. use show_summary.
                    var show_summary = GetURLParameter('show_summary');
                    var show_status = GetURLParameter('show_status');
                    if (typeof show_summary != 'undefined' && typeof show_value == 'undefined') {
                        url_path += 'show_summary=' + show_summary + '&';
                        if (typeof show_status != 'undefined') {
                            url_path += 'show_status=' + show_status + '&';
                        }
                    }
                    url_path += 'dt_from=' + dtp_from_input + '&';
                    url_path += 'dt_to=' + dtp_to_input;
                    window.document.location = url_path;
                }
            });

            $("#dt_clear").click(function () {
                var dtp_from = $('#dtp_from');
                var dtp_to = $('#dtp_to');
                dtp_from.data("DateTimePicker").clear();
                dtp_to.data("DateTimePicker").clear();
                window.document.location = window.location.origin + window.location.pathname;
            });


            // clickable row
            $(".clickable-row").click(function () {
                var dt_from = GetURLParameter('dt_from');
                var dt_to = GetURLParameter('dt_to');
                if (typeof dt_from == 'undefined' || typeof dt_to == 'undefined') {
                    window.document.location = $(this).data("href");
                }
                else if (typeof dt_from != 'undefined' && typeof dt_to != 'undefined') {
                    window.document.location = $(this).data("href") + '&dt_from=' + dt_from + '&dt_to=' + dt_to;
                }
            });
        });
    </script>
    <!-- Hide rows -->
    <script id="js">
        $(function () {
            // hide child rows
            $('.tablesorter-childRow td').hide();

            $(".tablesorter")
                    .tablesorter({
                        theme: 'blue',
                        // this is the default setting
                        cssChildRow: "tablesorter-childRow"
                    })
        });
    </script>
    <!-- open events -->
    <script id="js">
        $(document).ready(function () {
            $('#details_table').find('tr.parent').click(function () {
                // use "nextUntil" to toggle multiple child rows
                // toggle table cells instead of the row
                $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Details Pane -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Query Params</h1>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group" id="dtp_from_form" style="margin-bottom: 0">
                                <label class="control-label col-md-1">Reports From</label>

                                <div class="col-md-2">
                                    <div name='dtp_from' class='input-group date' id='dtp_from'>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <input name="dt_from" id="dtp_from_input" type='text' class="form-control">
                                    </div>
                                </div>
                                <label class="control-label col-md-1">Reports To</label>

                                <div class="col-md-2">
                                    <div name='dtp_to' class='input-group date' id='dtp_to'>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <input name="dt_to" id="dtp_to_input" type='text' class="form-control">
                                    </div>
                                </div>

                                <div class="form-group" id="dtp_submit_form">
                                    <button id="dt_submit" type="button" class="btn btn-success">Filter</button>
                                    <button id="dt_clear" type="button" class="btn btn-danger">Clear</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <!-- Events Summary Pane -->
            <div class="col-md-3">
                <!-- CLASSES -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Classes</h1>
                    </div>
                    <div class="table-responsive">
                        <table style="border-collapse: separate"
                               class="table table-condensed">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 60%;">
                            </colgroup>
                            <tbody>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=classes&show_status=failed'>
                                {% with summary.classes_failure|length as len_failure_classes %}
                                    <th>Failed</th>
                                    <td align="right">{{ len_failure_classes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                                 aria-valuenow="{{ len_failure_classes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.classes_total }}"
                                                 style="width:{{ len_failure_classes|get_percentage:summary.classes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=classes&show_status=skipped'>
                                {% with summary.classes_skipped|length as len_skipped_classes %}
                                    <th>Skipped</th>
                                    <td align="right">{{ len_skipped_classes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                                 aria-valuenow="{{ len_skipped_classes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.classes_total }}"
                                                 style="width:{{ len_skipped_classes|get_percentage:summary.classes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=classes&show_status=success'>
                                {% with summary.classes_success|length as len_success_classes %}
                                    <th>Changed</th>
                                    <td align="right">{{ len_success_classes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="{{ len_success_classes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.classes_total }}"
                                                 style="width:{{ len_success_classes|get_percentage:summary.classes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=classes&show_status=noop'>
                                {% with summary.classes_noop|length as len_noop_classes %}
                                    <th>Noop</th>
                                    <td align="right">{{ len_noop_classes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-info" role="progressbar"
                                                 aria-valuenow="{{ len_noop_classes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.classes_total }}"
                                                 style="width:{{ len_noop_classes|get_percentage:summary.classes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- NODES -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Nodes:</h1>
                    </div>
                    <div class="table-responsive">
                        <table style="border-collapse: separate"
                               class="table table-condensed">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 60%;">
                            </colgroup>
                            <tbody>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=nodes&show_status=failed'>
                                {% with summary.nodes_failure|length as len_failure_nodes %}
                                    <th>Failed</th>
                                    <td align="right">{{ len_failure_nodes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                                 aria-valuenow="{{ len_failure_nodes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.nodes_total }}"
                                                 style="width:{{ len_failure_nodes|get_percentage:summary.nodes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=nodes&show_status=skipped'>
                                {% with summary.nodes_skipped|length as len_skipped_nodes %}
                                    <th>Skipped</th>
                                    <td align="right">{{ len_skipped_nodes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                                 aria-valuenow="{{ len_skipped_nodes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.nodes_total }}"
                                                 style="width:{{ len_skipped_nodes|get_percentage:summary.nodes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=nodes&show_status=success'>
                                {% with summary.nodes_success|length as len_success_nodes %}
                                    <th>Changed</th>
                                    <td align="right">{{ len_success_nodes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="{{ len_success_nodes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.nodes_total }}"
                                                 style="width:{{ len_success_nodes|get_percentage:summary.nodes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=nodes&show_status=noop'>
                                {% with summary.nodes_noop|length as len_noop_nodes %}
                                    <th>Noop</th>
                                    <td align="right">{{ len_noop_nodes }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-info" role="progressbar"
                                                 aria-valuenow="{{ len_noop_nodes }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.nodes_total }}"
                                                 style="width:{{ len_noop_nodes|get_percentage:summary.nodes_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- RESOURCES -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Resources: </h1>
                    </div>
                    <div class="table-responsive">
                        <table style="border-collapse: separate"
                               class="table table-condensed">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 60%;">
                            </colgroup>
                            <tbody>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=resources&show_status=failed'>
                                {% with summary.resources_failure|length as len_failure_resources %}
                                    <th>Failed</th>
                                    <td align="right">{{ len_failure_resources }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                                 aria-valuenow="{{ len_failure_resources }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.resources_total }}"
                                                 style="width:{{ len_failure_resources|get_percentage:summary.resources_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=resources&show_status=skipped'>
                                {% with summary.resources_skipped|length as len_skipped_resources %}
                                    <th>Skipped</th>
                                    <td align="right">{{ len_skipped_resources }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                                 aria-valuenow="{{ len_skipped_resources }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.resources_total }}"
                                                 style="width:{{ len_skipped_resources|get_percentage:summary.resources_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=resources&show_status=success'>
                                {% with summary.resources_success|length as len_success_resources %}
                                    <th>Changed</th>
                                    <td align="right">{{ len_success_resources }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="{{ len_success_resources }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.resources_total }}"
                                                 style="width:{{ len_success_resources|get_percentage:summary.resources_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=resources&show_status=noop'>
                                {% with summary.resources_noop|length as len_noop_resources %}
                                    <th>Noop</th>
                                    <td align="right">{{ len_noop_resources }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-info" role="progressbar"
                                                 aria-valuenow="{{ len_noop_resources }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.resources_total }}"
                                                 style="width:{{ len_noop_resources|get_percentage:summary.resources_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- TYPES -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Types: </h1>
                    </div>
                    <div class="table-responsive">
                        <table style="border-collapse: separate"
                               class="table table-condensed">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 60%;">
                            </colgroup>
                            <tbody>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=types&show_status=failed'>
                                {% with summary.types_failure|length as len_failure_types %}
                                    <th>Failed</th>
                                    <td align="right">{{ len_failure_types }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                                 aria-valuenow="{{ len_failure_types }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.types_total }}"
                                                 style="width:{{ len_failure_types|get_percentage:summary.types_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=types&show_status=skipped'>
                                {% with summary.types_skipped|length as len_skipped_types %}
                                    <th>Skipped</th>
                                    <td align="right">{{ len_skipped_types }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">

                                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                                 aria-valuenow="{{ len_skipped_types }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.types_total }}"
                                                 style="width:{{ len_skipped_types|get_percentage:summary.types_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=types&show_status=success'>
                                {% with summary.types_success|length as len_success_types %}
                                    <th>Changed</th>
                                    <td align="right">{{ len_success_types }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="{{ len_success_types }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.types_total }}"
                                                 style="width:{{ len_success_types|get_percentage:summary.types_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            <tr class="clickable-row"
                                data-href='{% url 'event_analytics' view='summary' %}?show_summary=types&show_status=noop'>
                                {% with summary.types_noop|length as len_noop_types %}
                                    <th>Noop</th>
                                    <td align="right">{{ len_noop_types }}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0">
                                            <div class="progress-bar progress-bar-info" role="progressbar"
                                                 aria-valuenow="{{ len_noop_types }}"
                                                 aria-valuemin="0" aria-valuemax="{{ summary.types_total }}"
                                                 style="width:{{ len_noop_types|get_percentage:summary.types_total }}%">
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Details Pane -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    {% block details %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
