{% extends 'pano/analytics/events_summary.html' %}

{% load puppetdb_extras %}
{% load common %}

{% block sortbycol %}
    sortList: [[2, 1]],
{% endblock %}

{% block details %}
    <div class="panel-heading">
        <h1 class="panel-title">
            Filters
        </h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="success"> Success </label>
                <input type="checkbox" id="success" name="success" value="success" checked>
                <label for="noop"> Noop </label>
                <input type="checkbox" id="noop" name="noop" value="noop" checked>
                <label for="skipped"> Skipped </label>
                <input type="checkbox" id="skipped" name="skipped" value="skipped" checked>
                <label for="failure"> Failed </label>
                <input type="checkbox" id="failure" name="failure" value="failure" checked>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="panel-heading">
        <h1 class="panel-title">
            Details {{ show_title }}
        </h1>
    </div>

    <div class="table-responsive">
        <table name="details_table" id="details_table" style="border-collapse: separate"
               class="table table-condensed tablesorter">
            <thead>
            <tr>
                <th>Certname</th>
                <th>Title</th>
                <th>Event Time</th>
                <th>Type</th>
                <th>Property</th>
                <th>From</th>
                <th>To</th>
            </tr>
            </thead>
            <colgroup>
                <col span="1" style="width: 15%;">
                <!-- Class -->
                <col span="1" style="width: 20%;">
                <!-- Title -->
                <col span="1" style="width: 15%;">
                <!-- Timestamp -->
                <col span="1" style="width: 10%;">
                <!-- Type -->
                <col span="1" style="width: 10%;">
                <!-- Property -->
                <col span="1" style="width: 15%;">
                <!-- From -->
                <col span="1" style="width: 15%;">
                <!-- To -->
            </colgroup>
            <tbody>
            {% if events %}
                {% for event in events %}
                    <tr {% if event.status == 'success' %}class="bg-success parent"
                        {% elif event.status == 'failure' %}class="bg-danger parent"
                        {% elif event.status == 'noop' %}class="bg-info parent"
                        {% elif event.status == 'skipped' %}class="bg-warning parent"{% endif %}>
                        <td><strong>{{ event|get_item:'certname' }}</strong></td>
                        <td style="word-wrap:break-word; word-break: break-all">{{ event|get_item:'resource_title' }}</td>
                        <td>{{ event|get_item:'timestamp'|json_to_datetime|date:'Y-m-d H:i:s' }}</td>
                        <td>{{ event|get_item:'resource_type' }}</td>
                        <td>{{ event.property }}</td>
                        <td>{{ event|get_item:'old_value' }}</td>
                        <td>{{ event|get_item:'new_value' }}</td>
                    </tr>
                    {% with event|get_item:'certname' as node %}
                        {% if node != None %}
                            <tr class="tablesorter-childRow">
                                <td colspan="1"><strong>Node</strong></td>
                                <td colspan="6"><strong>{{ node }}</strong> in environment
                                    <strong>{{ event|get_item:'environment' }}</strong></td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                    {% with event|get_item:'message' as mess %}
                        {% if mess != None %}
                            <tr class="tablesorter-childRow">
                                <td colspan="1"><strong>Message</strong></td>
                                <td colspan="6">{{ event|get_item:'message' }}</td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                    {% with event|get_item:'file' as file %}
                        {% if file != None %}
                            <tr class="tablesorter-childRow">
                                <td colspan="1"><strong>File</strong></td>
                                <td colspan="6">{{ event|get_item:'file' }}:{{ event|get_item:'line' }}</td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                    {% if event.property == 'content' %}
                        <tr class="tablesorter-childRow">
                            <td colspan="1"><strong>Filebucket</strong></td>
                            <td colspan="6">
                                <strong>From: </strong><a id="filebucketURL"
                                                          data-toggle="modal"
                                                          href="{% url 'filebucket' %}?certname={{ event|get_item:'certname' }}&rtype={{ event|get_item:'resource_type' }}&rtitle={{ event|get_item:'resource_title' }}&environment={{ event|get_item:'environment' }}&file_status=from&md5_from={{ event|get_item:'old_value' }}"
                                                          data-target="#filebucketModal">{{ event|get_item:'old_value' }}</a>
                                <strong> To: </strong><a id="filebucketURL"
                                                         data-toggle="modal"
                                                         href="{% url 'filebucket' %}?certname={{ event|get_item:'certname' }}&rtype={{ event|get_item:'resource_type' }}&rtitle={{ event|get_item:'resource_title' }}&environment={{ event|get_item:'environment' }}&file_status=to&md5_to={{ event|get_item:'new_value' }}"
                                                         data-target="#filebucketModal">{{ event|get_item:'new_value' }}</a>
                                <strong> | </strong><a id="filebucketURL"
                                                       data-toggle="modal"
                                                       href="{% url 'filebucket' %}?certname={{ event|get_item:'certname' }}&rtype={{ event|get_item:'resource_type' }}&rtitle={{ event|get_item:'resource_title' }}&environment={{ event|get_item:'environment' }}&file_status=both&md5_from={{ event|get_item:'old_value' }}&md5_to={{ event|get_item:'new_value' }}&diff=True"
                                                       data-target="#filebucketModal"><strong>Diff</strong></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6"> No events were found in puppetdb for this query.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="modal fade filebucketModal" tabindex="-1"
         role="dialog"
         aria-labelledby="filebucketModal"
         aria-hidden="true"
         id="filebucketModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $('#filebucketModal').on('hidden.bs.modal', function (e) {
            $(this).removeData('bs.modal');
        })
    </script>
    <script>
        function hideRows() {
            // hide child rows
            $('.tablesorter-childRow td').hide();
        };

        $("#success").change(function () {
            var self = this;
            hideRows();
            $("#details_table").find("tr.bg-success").toggle(self.checked);
        }).change();

        $("#noop").change(function () {
            var self = this;
            hideRows();
            $("#details_table").find("tr.bg-info").toggle(self.checked);
        }).change();

        $("#skipped").change(function () {
            var self = this;
            hideRows();
            $("#details_table").find("tr.bg-warning").toggle(self.checked);
        }).change();

        $("#failure").change(function () {
            var self = this;
            hideRows();
            $("#details_table").find("tr.bg-danger").toggle(self.checked);
        }).change();
    </script>
{% endblock %}
