############################
# PanoPuppet CONFIGURATION #
############################

# SSL CONFIGURATION FOR PUPPETDB
PUPPETDB_HOST: 'https://puppetdb.example.com:8081/'
PUPPETDB_CERTIFICATES:
  - '/path/to/public.key'
  - '/path/to/private.key'
PUPPETDB_VERIFY_SSL: '/path/to/cacert'

# NON SSL CONFIGRURATION FOR PUPPETDB
PUPPETDB_HOST: 'http://puppetdb.example.com:8080'

# Clientbucket Settings
# Disable support for clientbucket with false and enable with true
# If false the other clientbucket configuration lines will be ignored.
PUPPETMASTER_CLIENTBUCKET_SHOW: false
PUPPETMASTER_CLIENTBUCKET_HOST: 'https://puppetmaster.example.com:8140/'
PUPPETMASTER_CLIENTBUCKET_CERTIFICATES:
  - '/path/to/public.key'
  - '/path/to/private.key'
PUPPETMASTER_CLIENTBUCKET_VERIFY_SSL: '/path/to/ca.pem'

# Fileserver Settings
# Disable support for fileserver with false and enable with true
# If false the other fileserver configuration lines will be ignored.
PUPPETMASTER_FILESERVER_SHOW: false
PUPPETMASTER_FILESERVER_HOST: 'https://puppetmaster.example.com:8140/'
PUPPETMASTER_FILESERVER_CERTIFICATES:
  - '/path/to/public.key'
  - '/path/to/private.key'
PUPPETMASTER_FILESERVER_VERIFY_SSL: '/path/to/ca.pem'

# Puppet Agent Run Interval
PUPPET_RUN_INTERVAL: 30

# Time to hold the cache for pages - specified in seconds
CACHE_TIME: 60

# Authentication method - Available auth methods = ldap and basic
AUTH_METHOD: 'basic'


########################
# DJANGO CONFIGURATION #
########################

SECRET_KEY: 'super_secure_random_key'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG: true
TEMPLATE_DEBUG: true
# Allowed Hosts must be an array.

ALLOWED_HOSTS:
  - '127.0.0.1'
# Timezone settings for panopuppet. Catalog, report, fact times will be show localtime rather than GMT.
LANGUAGE_CODE: 'sv-SE'
TIME_ZONE: 'Europe/Stockholm'

# Where should the static files (js, css, etc) be stored?
STATIC_ROOT: '/srv/staticfiles' # default