############################
# PanoPuppet CONFIGURATION #
############################

sources:
  'PuppetDB Production':
    'DEFAULT': true
# URI to Puppet DB server with method, host and port
    'PUPPETDB_HOST': 'https://puppetdb.production.example.com:8081/'
# PUPPET DB CERTS - ordering is important here
# Also, the files must be readable by the http daemon user
    'PUPPETDB_CERTIFICATES':
      - '/path/to/public_key.pem'
      - '/path/to/private_key.pem'
# This setting is the default
    'PUPPETDB_VERIFY_SSL': false
    'PUPPETMASTER_CLIENTBUCKET_SHOW': true
    'PUPPETMASTER_FILESERVER_SHOW': true
    # Filebucket configuraion for the PuppetDB Production
    'PUPPETMASTER_CLIENTBUCKET_SHOW': true
    'PUPPETMASTER_CLIENTBUCKET_HOST': 'https://puppetmaster.example.com:8140/'
    'PUPPETMASTER_CLIENTBUCKET_CERTIFICATES':
      - '/path/to/public.key'
      - '/path/to/private.key'
    'PUPPETMASTER_CLIENTBUCKET_VERIFY_SSL': '/path/to/ca.pem'
    # Fileserver configuraion for the PuppetDB Production
    'PUPPETMASTER_FILESERVER_SHOW': true
    'PUPPETMASTER_FILESERVER_HOST': 'https://puppetmaster.example.com:8140/'
    'PUPPETMASTER_FILESERVER_CERTIFICATES':
      - '/path/to/public.key'
      - '/path/to/private.key'
    'PUPPETMASTER_FILESERVER_VERIFY_SSL': '/path/to/ca.pem'
    'PUPPET_RUN_INTERVAL': 30

  'PuppetDB Staging':
    'PUPPETDB_HOST': 'http://puppetdb.staging.example.com/'
    'PUPPETMASTER_CLIENTBUCKET_SHOW': false
    'PUPPETMASTER_FILESERVER_SHOW': false
    'PUPPET_RUN_INTERVAL': 30

# Time to hold the cache for pages - specified in seconds
CACHE_TIME: 60

# Authentication method - Available auth methods = ldap and basic
AUTH_METHOD: 'basic'

# Or if you want ldap authentication uncomment this line and delete the one above
# AUTH_METHOD: 'ldap'
LDAP_SERVER: 'ldap://ldap.forumsys.com'
LDAP_BIND_DN: 'cn=read-only-admin,dc=example,dc=com'
LDAP_BIND_PW: 'password'
LDAP_USEARCH_PATH: 'dc=example,dc=com'
LDAP_GSEARCH_PATH:
LDAP_ALLOW_GRP:
LDAP_DENY_GRP:

# If you have multiple groups you want to specify use a HASH, a string is sufficent if you just have one group.
LDAP_SUPERUSER_GRP: 'cn=superuser,ou=groups,dc=example,dc=com'
LDAP_STAFF_GRP:
  - 'cn=staff,ou=groups,dc=example,dc=com'
  - 'cn=admin,ou=groups,dc=example,dc=com'

ENABLE_PERMISSIONS: true

NODES_DEFAULT_FACTS:
  - 'operatingsystem'
  - 'operatingsystemrelease'
  - 'kernel'
  - 'ipaddress'

########################
# DJANGO CONFIGURATION #
########################

SECRET_KEY: 'super_secure_random_key'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG: true
TEMPLATE_DEBUG: true
# Allowed Hosts must be an array.

ALLOWED_HOSTS:
  - '127.0.0.1'
# Timezone settings for panopuppet. Catalog, report, fact times will be show localtime rather than GMT.
LANGUAGE_CODE: 'sv-SE'
TIME_ZONE: 'Europe/Stockholm'

# Where should the static files (js, css, etc) be stored?
STATIC_ROOT: '/srv/staticfiles' # default
