{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}
{% load staticfiles %}
{% block head %}
    <link href="{% static 'pano/css/c3.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'pano/js/c3.min.js' %}"></script>
    <script src="{% static 'pano/js/d3.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div align="center" class="panel-heading">Puppet Statistics</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Average Puppet Run Time ({{ run_num }} Last Runs)</div>
                <div class="panel-body">
                    <div id="run_times"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div align="center" class="panel-heading">Latest reports</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Class Events</div>
                <div class="panel-body">
                    <div id="class_events"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Resource Events</div>
                <div class="panel-body">
                    <div id="resource_events"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Status Events</div>
                <div class="panel-body">
                    <div id="status_events"></div>
                </div>
            </div>
        </div>
    </div>
    <script id="js_class">
        var chart_classes = c3.generate({
            bindto: '#class_events',
            data: {
                columns: [
                    {% for event in class_events %}
                        ['{{ event.0 }}', {{ event.1 }}],
                    {% endfor %}
                ],
                type: 'pie',
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                }
            },
            legend: {
                position: 'bottom',
                hide: true
            }
        });
    </script>
    <script id="js_resource">
        var chart_resources = c3.generate({
            bindto: '#resource_events',
            data: {
                // iris data from R
                columns: [
                    {% for event in resource_events %}
                        ['{{ event.0 }}', {{ event.1 }}],
                    {% endfor %}
                ],
                type: 'pie',
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                }
            },
            legend: {
                position: 'bottom',
                hide: true
            }
        });
    </script>
    <script id="js_status">
        var chart_status = c3.generate({
            bindto: '#status_events',
            data: {
                columns: [
                    {% for status in class_status %}
                        ['{{ status.0 }}', {{ status.1 }}],
                    {% endfor %}
                ],
                type: 'pie',
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                }
            },
            legend: {
                position: 'bottom'
            }
        });
    </script>
    <script id="js_avg_run_time">
        var chart_run_times = c3.generate({
            bindto: '#run_times',
            data: {
                columns: [
                    ['Run Times', {% for time in run_times %}{{ time }}, {% endfor %}],
                    ['Baseline', {% for i in run_num|get_range %}{{ run_avg }}, {% endfor %}]

                ],
                type: 'area-spline',
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                }
            },
            legend: {
                position: 'bottom'
            },
            point: {
                show: false
            }
        });
    </script>

{% endblock %}
