<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PanoPuppet</title>
    {% load staticfiles %}
    <!-- jQuery library -->
    <script src="{% static 'pano/js/jquery.1.11.1.min.js' %}"></script>
    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="{% static 'pano/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/bootstrap.min.css' %}">

    {% block head %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'pano/favicon.ico' %}" type="image/x-icon">
</head>
<body>
{% load tz %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">PanoPuppet</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li {% if "pano/dashboard" in request.path %}
                                class="active"{% elif "pano/dashboard" in request.path %} class="active"
                                %}{% endif %} class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                                  href="#">Dashboard<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'radiator' %}">Radiator</a></li>
                                </ul>
                            </li>
                            <li{% if "pano/nodes" in request.path %} class="active"{% endif %}>
                                <a href="{% url 'nodes' %}">Nodes</a>
                            </li>
                            <li {% if "pano/analytics" in request.path or "pano/eventanalytics" in request.path %}
                                class="active"{% elif "pano/event_analytics" in request.path %} class="active"
                                %}{% endif %} class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                                  href="#">Analytics<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'event_analytics' %}">Events</a></li>
                                    <li><a href="{% url 'analytics' %}">Run Times</a></li>
                                </ul>
                            </li>
                            {% if certname %}
                                <li{% if "pano/reports" in request.path %} class="active"{% endif %}>
                                    <a href="{% url 'reports' certname %}">Reports</a>
                                </li>
                                <li{% if "pano/facts" in request.path %} class="active"{% endif %}>
                                    <a href="{% url 'facts' certname %}">Facts</a>
                                </li>
                            {% endif %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                                                  href="#">PuppetDB<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {# for servers in list.... #}
                                    {% for server in SOURCES %}
                                        <li><a href="?source={{ server }}">{{ server }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div align="right" class="col-md-11">
            {{ requests }}
            {% get_current_timezone as TIME_ZONE %}
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ request.path|urlencode }}"/>
                <span class="dropdown-header">
                    <label for="timezone">
                        <select class="span-12" name="timezone" onchange="this.form.submit()">
                            {% for tz in timezones %}
                                <option value="{{ tz }}"{% if tz == TIME_ZONE %}
                                        selected="selected"{% endif %}>{{ tz }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </span>
            </form>
        </div>
    </div>
    <div align="center" class="row">
        <span class="small"><strong><a target="_blank" href="https://github.com/propyless/panopuppet">Find PanoPuppet on
            Github!</a></strong></span>
    </div>
</div>
</body>
</html>
