{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'pano/js/typeahead.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/typeahead.css' %}">
    <script src="{% static 'pano/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'pano/js/bootstrap.dataTables.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pano/css/dataTables.bootstrap.min.css' %}">
    <script src="{% static 'pano/js/catalog_js.js' %}"></script>
    <!-- make sure table does not go bonkers.. -->
    <style>
        .table {
            max-width: none;
            table-layout: fixed;
            word-wrap: break-word;
        }

        .table tbody {
            font-size: 11px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="filters_accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div role="tab" class="panel-heading" id="headingFilter">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#filters_accordion" href="#collapseFilter"
                               aria-expanded="false" aria-controls="collapseFilter">
                                Catalog
                                <Tool></Tool>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFilter" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingFilter">
                        <div class="panel-body">
                            <div class="row">
                                <form>
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-certname1">
                                            <label for="certname-1">Certname</label>
                                            <input type="text" class="form-control" name="node-1" id="node-1"
                                                   placeholder="Search and select a node.">
                                            <br/>
                                            <label for="certname-1-hash">Saved Catalogues:</label>
                                            <select class="form-control" id="node-1-hash" disabled>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-certname2">
                                            <label for="certname-2">Certname </label>
                                            <input type="text" class="form-control" id="node-2"
                                                   placeholder="Compare with node to the left.">
                                            <br/>
                                            <label for="certname-2-hash">Saved Catalogues:</label>
                                            <select class="form-control" id="node-2-hash" disabled>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="catalogue_data1">
                                    <div id="targets" class="btn-group" role="group" aria-label="...">
                                        <a href="#" id="edges" class="btn btn-default btn-xs active"
                                           role="button">Edges</a>
                                        <a href="#" id="resources" class="btn btn-default btn-xs"
                                           role="button">Resources</a>
                                    </div>
                                    <div id="diff_button" class="btn-group" role="group" aria-label="...">
                                        <a onclick='compare(); return false;' href="#" id="compare"
                                           class="btn btn-default btn-xs"
                                           role="button">Diff View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="diff-div-add-rem" hidden>
        <div class="col-md-12">
            <!-- Added Resources -->
            <div class="col-md-6">
                <div class="row col-margin">
                    <div class="page-header" style="margin-top: 0">
                        <h3>Additions</h3>
                    </div>
                </div>
                <div class="row col-margin" id="diff-added" style="word-wrap: break-word;">
                </div>
            </div>
            <!-- Removed Resources -->
            <div class="col-md-6">
                <div class="row col-margin">
                    <div class="page-header" style="margin-top: 0">
                        <h3>Removals</h3>
                    </div>
                </div>
                <div class="row col-margin" id="diff-removed" style="word-wrap: break-word;">
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="diff-div-change" hidden>
        <div class="col-md-12">
            <!-- Changed Resources -->
            <div class="col-md-12">
                <div class="row col-margin">
                    <div class="page-header" style="margin-top: 0">
                        <h3>Changes</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row col-margin" id="diff-changed-from" style="word-wrap: break-word;">
                            <div class="bs-callout bs-callout-info">
                                <samp class="text-info">swag changed from</samp>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row col-margin" id="diff-changed-to" style="word-wrap: break-word;">
                            <div class="bs-callout bs-callout-warning">
                                <samp class="text-warning">swag changed to</samp>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table id="compare-with-table" class="table table-condensed table-striped">
                <tbody id="compare-with-tbody" style="font-size: 11px;">
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table id="compare-against-table" class="table table-condensed table-striped">
                <tbody id="compare-against-tbody" style="font-size: 11px;">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
