{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}
{% block head %}
    {% load static %}
    <!-- table sorter stuff -->
    <link rel="stylesheet"
          href="{% static 'pano/tablesorter/theme.bootstrap.min.css' %}">
    <script src="{% static 'pano/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'pano/tablesorter/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'pano/js/bootbox.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            get_data();
            var selector = '.nav li';
            $(selector).on('click', function () {
                $(selector).removeClass('active');
                $(this).addClass('active');
            });
        });


        $(document).on({
            ajaxStart: function () {
                bootbox.dialog({
                    title: "Loading...",
                    message: "Fetching data from PuppetDB.",
                    show: true,
                    backdrop: false,
                    closeButton: true,
                    animate: false
                });
            },
            ajaxStop: function () {
                bootbox.hideAll()
            }
        });
    </script>
    <script>
        $(function () {
            // call the tablesorter plugin and apply the uitheme widget
            $("table").tablesorter({
                // this will apply the bootstrap theme if "uitheme" widget is included
                // the widgetOptions.uitheme is no longer required to be set
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
                // widget code contained in the jquery.tablesorter.widgets.js file
                // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                widgets: ["uitheme", "zebra"],
                widgetOptions: {
                    // using the default zebra striping class name, so it actually isn't included in the theme variable above
                    // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
                    zebra: ["even", "odd"],
                    // reset filters button
                    filter_reset: ".reset"
                }
            })
        });</script>
{% endblock %}
{% block content %}
    <script>
        function get_data(obj) {
            var backgroundTask = $.Deferred();
            var url = '../api/dashboard/';
            if (obj) {
                if ($(obj).attr('href')) {
                    var params = $(obj).attr('href');
                    url = url + params;
                }
            }
            $.get(url, function (json) {
                var response = $(jQuery(json));
                var nodes = response[0]['node_list'];
                var data = '';
                $("#failed_nodes").html(response[0]['failed_nodes']);
                $("#changed_nodes").html(response[0]['changed_nodes']);
                $("#pending_nodes").html(response[0]['pending_nodes']);
                $("#unreported_nodes").html(response[0]['unreported_nodes']);
                $("#node_population").html(response[0]['population']);
                $("#total_resources").html(response[0]['total_resource']);
                $("#average_resources").html(response[0]['avg_resource']);
                $("#mismatching_timestamps").html(response[0]['mismatching_timestamps']);
                var num_nodes = nodes.length;
                if (num_nodes === 0) {
                    data = '<tr><td colspan="8">No nodes found for query.</td></tr>';
                }
                else {
                    //('certname', 'latestCatalog', 'latestReport', 'latestFacts', 'success', 'noop', 'failure', 'skipped'),
                    nodes.forEach(function (node) {
                        data += '<tr>';
                        //Certname
                        data += '<td><a href="../reports/' + node[0] + '">' + node[0] + '</a></td>';
                        //latest catalog
                        data += '<td>' + node[1] + '</td>';
                        //latest report
                        if (node[4] > 0 || node[5] > 0 || node[6] > 0 || node[7] > 0) {
                            data += '<td><a href="../reports/' + node[0] + '?latest=true&report_timestamp=' + node[2] + '">' + node[2] + '</a></td>';
                        } else {
                            data += '<td>' + node[2] + '</td>';
                        }
                        //latest facts
                        data += '<td>' + node[3] + '</td>';
                        //failed events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-success img-rounded"><strong>' + node[4] + '</strong></p></td>';
                        //skipped events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-info img-rounded"><strong>' + node[5] + '</strong></p></td>';
                        //successful events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-danger img-rounded"><strong>' + node[6] + '</strong></p></td>';
                        //noop events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-warning img-rounded"><strong>' + node[7] + '</strong></p></td>';
                        data += '</tr>';
                    });
                }

                // update table with the new json data to the table body
                $("#dashboard_nodes").html(data);
                // Triger tablesorter to resort
                $("table").trigger("updateAll", [true]);
            })
                    .fail(function () {
                        var data = '<tr><td colspan="8">Can not connect to PuppetDB.</td></tr>';
                        $("#dashboard_nodes").html(data);
                    });

            backgroundTask.resolve();
            return backgroundTask;
        }
        function refresh_data() {
            var backgroundTask = $.Deferred();
            var url = '../api/dashboard/';
            $.get(url, function (json) {
                var response = $(jQuery(json));
                $("#failed_nodes").html(response[0]['failed_nodes']);
                $("#changed_nodes").html(response[0]['changed_nodes']);
                $("#pending_nodes").html(response[0]['pending_nodes']);
                $("#unreported_nodes").html(response[0]['unreported_nodes']);
                $("#node_population").html(response[0]['population']);
                $("#total_resources").html(response[0]['total_resource']);
                $("#average_resources").html(response[0]['avg_resource']);
                $("#mismatching_timestamps").html(response[0]['mismatching_timestamps']);
            })
                    .fail(function () {
                        var data = '<tr><td colspan="2">Can not connect to PuppetDB.</td></tr>';
                        $("inventoryfactsbody").html(data);
                    });
            backgroundTask.resolve();
            return backgroundTask;
        }
        function get_nodes(obj) {
            var backgroundTask = $.Deferred();
            var url = '../api/dashboard/nodes/';
            if (obj) {
                if ($(obj).attr('href')) {
                    var params = $(obj).attr('href');
                    url = url + params;
                }
            }
            $.get(url, function (json) {
                var response = $(jQuery(json));
                var nodes = response[0]['node_list'];
                var data = '';
                var num_nodes = nodes.length;
                if (num_nodes === 0) {
                    data = '<tr><td colspan="8">No nodes found for query.</td></tr>';
                }
                else {
                    //('certname', 'latestCatalog', 'latestReport', 'latestFacts', 'success', 'noop', 'failure', 'skipped'),
                    nodes.forEach(function (node) {
                        data += '<tr>';
                        //Certname
                        data += '<td><a href="../reports/' + node[0] + '">' + node[0] + '</a></td>';
                        //latest catalog
                        data += '<td>' + node[1] + '</td>';
                        //latest report
                        if (node[4] > 0 || node[5] > 0 || node[6] > 0 || node[7] > 0) {
                            data += '<td><a href="../reports/' + node[0] + '?latest=true&report_timestamp=' + node[2] + '">' + node[2] + '</a></td>';
                        } else {
                            data += '<td>' + node[2] + '</td>';
                        }
                        //latest facts
                        data += '<td>' + node[3] + '</td>';
                        //failed events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-success img-rounded"><strong>' + node[4] + '</strong></p></td>';
                        //skipped events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-info img-rounded"><strong>' + node[5] + '</strong></p></td>';
                        //successful events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-danger img-rounded"><strong>' + node[6] + '</strong></p></td>';
                        //noop events
                        data += '<td style="text-align: center"><p style="margin-bottom: 0" class="bg-warning img-rounded"><strong>' + node[7] + '</strong></p></td>';
                        data += '</tr>';
                    });
                }

                // update table with the new json data to the table body
                $("#dashboard_nodes").html(data);
                // Triger tablesorter to resort
                $("table").trigger("updateAll", [true]);
            })
                    .fail(function () {
                        var data = '<tr><td colspan="8">Can not connect to PuppetDB.</td></tr>';
                        $("#dashboard_nodes").html(data);
                    });

            backgroundTask.resolve();
            return backgroundTask;
        }
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" align="center">
                <p class="bg-danger img-rounded"><strong>Failed Nodes</strong></p>

                <p id="failed_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-success img-rounded"><strong>Status Changed</strong></p>

                <p id="changed_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Pending Nodes</strong></p>

                <p id="pending_nodes"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-warning img-rounded"><strong>Unreported Nodes</strong></p>

                <p id="unreported_nodes"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Population</strong></p>

                <p id="node_population"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Resources Managed</strong></p>

                <p id="total_resources"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Average Resource per Node</strong></p>

                <p id="average_resources"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="bg-info img-rounded"><strong>Mismatching Timestamps</strong></p>

                <p id="mismatching_timestamps"></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul id="node_pages" class="nav nav-tabs">
                    <li class="active"><a onclick="get_nodes(this).done(); return false;" href="?show=recent">Recent</a></li>
                    <li><a onclick="get_nodes(this).done(); return false;" href="?show=failed">Failed</a></li>
                    <li><a onclick="get_nodes(this).done(); return false;" href="?show=changed">Changed</a></li>
                    <li><a onclick="get_nodes(this).done(); return false;" href="?show=pending">Pending</a></li>
                    <li><a onclick="get_nodes(this).done(); return false;" href="?show=unreported">Unreported</a></li>
                    <li><a onclick="get_nodes(this).done(); return false;" href="?show=mismatch">Mismatching
                        Timestamps</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed tablesorter">
                    <colgroup>
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Certname</th>
                        <th>Latest Catalog</th>
                        <th>Latest Report</th>
                        <th>Latest Facts</th>
                        <th>Success</th>
                        <th>Noop</th>
                        <th>Failure</th>
                        <th>Skipped</th>
                    </tr>
                    </thead>
                    <tbody id="dashboard_nodes">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
