{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}

{% block head %}
    {% load static %}
    <!-- table sorter stuff -->
    <link rel="stylesheet" href="{% static 'pano/tablesorter/theme.bootstrap.min.css' %}">
    <script src="{% static 'pano/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'pano/tablesorter/jquery.tablesorter.widgets.min.js' %}"></script>
    <link href="{% static 'pano/css/c3.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'pano/js/c3.min.js' %}"></script>
    <script src="{% static 'pano/js/d3.min.js' %}"></script>
    <!-- Table sorter config options -->
    <script id="js">$(function () {

        // NOTE: $.tablesorter.theme.bootstrap is ALREADY INCLUDED in the jquery.tablesorter.widgets.js
        // file; it is included here to show how you can modify the default classes
        $.tablesorter.themes.bootstrap = {
            // these classes are added to the table. To see other table classes available,
            // look here: http://getbootstrap.com/css/#tables
            table: 'table table-condensed',
            caption: 'caption',
            // header class names
            header: 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
            sortNone: '',
            sortAsc: '',
            sortDesc: '',
            active: '', // applied when column is sorted
            hover: '', // custom css required - a defined bootstrap style may not override other classes
            // icon class names
            icons: '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
            iconSortNone: 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
            iconSortAsc: 'icon-chevron-up glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
            iconSortDesc: 'icon-chevron-down glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
            filterRow: '', // filter row class
            footerRow: '',
            footerCells: '',
            even: '', // even row zebra striping
            odd: ''  // odd row zebra striping
        };

        // call the tablesorter plugin and apply the uitheme widget
        $("table").tablesorter({
            // this will apply the bootstrap theme if "uitheme" widget is included
            // the widgetOptions.uitheme is no longer required to be set
            theme: "bootstrap",

            widthFixed: true,

            headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

            // widget code contained in the jquery.tablesorter.widgets.js file
            // use the zebra stripe widget if you plan on hiding any rows (filter widget)
            widgets: ["uitheme", "filter"]
        })
    });</script>
    <!-- Hide rows -->
    <script id="js">
        $(function () {
            // hide child rows
            $('.tablesorter-childRow td').hide();

            $(".tablesorter")
                    .tablesorter({
                        theme: 'blue',
                        // this is the default setting
                        cssChildRow: "tablesorter-childRow"
                    })
        });
    </script>
    <!-- open events -->
    <script id="js">
        $(document).ready(function () {
            $('#eventsTable').find('tr.parent').click(function () {
                // use "nextUntil" to toggle multiple child rows
                // toggle table cells instead of the row
                $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
                return false;
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Events for {{ certname }} in {{ environment }} environment</h3>
            <h4>Report ID: {{ hashid }} @ {{ report_timestamp }}</h4>
        </div>
    </div>
    {% if events_list %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="events_accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div role="tab" class="panel-heading" id="headingGraph">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#events_accordion" href="#collapseGraph"
                                   aria-expanded="false" aria-controls="collapseGraph">
                                    Execution Times (10 Highest)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseGraph" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingGraph">
                            <div class="panel-body">
                                <div class="row" id="exec_times"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="js_exec_times">
            var chart = c3.generate({
                        bindto: '#exec_times',
                        data: {
                            columns: [
                                {% for event in event_durations %}
                                    ['{{ event.0 }}', {{ event.1|decimal_to_point }}],
                                {% endfor    %}
                            ],
                            type: 'bar'
                        },
                        padding: {
                            right: 20
                        },
                        grid: {
                            y: {
                                show: true
                            }
                        },
                        tooltip: {
                            grouped: false
                        },
                        axis: {
                            x: {
                                tick: {
                                    values: ["Events"]
                                }
                            },
                            y: {
                                label: 'Seconds'
                            }
                        },
                        bar: {
                            width: {
                                ratio: 0.5 // this makes bar width 50% of length between ticks
                            }
                        }
                    })
                    ;
        </script>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="panel-title">Event Details</h4></div>
                <table style="border-collapse: separate" id="eventsTable"
                       class="table-responsive table-condensed tablesorter">
                    <tbody>
                    {% if events_list %}
                        <thead>
                        <tr>
                            <th>Class</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Timestamp Started</th>
                            <th>Property</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                        </thead>
                        {% for event in events_list %}
                            <tr {% if event.status == 'success' %}class="bg-success parent"
                                {% elif event.status == 'failure' %}class="bg-danger parent"
                                {% elif event.status == 'noop' %}class="bg-info parent"
                                {% elif event.status == 'skipped' %}class="bg-warning parent"{% endif %}>
                                <td>{{ event|get_item:'containing-class' }}</td>
                                <td>{{ event|get_item:'resource-title' }}</td>
                                <td>{{ event|get_item:'resource-type' }}</td>
                                <td>{{ event|get_item:'timestamp'|json_to_datetime|date:'Y-m-d H:i:s' }}</td>
                                <td>{{ event.property }}</td>
                                <td>{{ event|get_item:'old-value' }}</td>
                                <td>{{ event|get_item:'new-value' }}</td>
                            </tr>
                            {% with event|get_item:'message' as mess %}
                                {% if mess != None %}
                                    <tr class="tablesorter-childRow">
                                        <td colspan="1"><strong>Message</strong></td>
                                        <td colspan="6">{{ event|get_item:'message' }}</td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                            {% with event|get_item:'file' as file %}
                                {% if file != None %}
                                    <tr class="tablesorter-childRow">
                                        <td colspan="1"><strong>File</strong></td>
                                        <td colspan="6">{{ event|get_item:'file' }}:{{ event|get_item:'line' }}</td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                            {% if event.property == 'content' %}
                                <tr class="tablesorter-childRow">
                                    <td colspan="1"><strong>Filebucket</strong></td>
                                    <td colspan="6">
                                        <strong>From: </strong><a id="filebucketURL"
                                                                  data-toggle="modal"
                                                                  href="{% url 'filebucket' %}?certname={{ certname }}&rtype={{ event|get_item:'resource-type' }}&rtitle={{ event|get_item:'resource-title' }}&environment={{ environment }}&file_status=from&md5_from={{ event|get_item:'old-value' }}"
                                                                  data-target="#filebucketModal">{{ event|get_item:'old-value' }}</a>
                                        <strong> To: </strong><a id="filebucketURL"
                                                                 data-toggle="modal"
                                                                 href="{% url 'filebucket' %}?certname={{ certname }}&rtype={{ event|get_item:'resource-type' }}&rtitle={{ event|get_item:'resource-title' }}&environment={{ environment }}&file_status=to&md5_to={{ event|get_item:'new-value' }}"
                                                                 data-target="#filebucketModal">{{ event|get_item:'new-value' }}</a>
                                        <strong> | </strong><a id="filebucketURL"
                                                               data-toggle="modal"
                                                               href="{% url 'filebucket' %}?certname={{ certname }}&rtype={{ event|get_item:'resource-type' }}&rtitle={{ event|get_item:'resource-title' }}&environment={{ environment }}&file_status=both&md5_from={{ event|get_item:'old-value' }}&md5_to={{ event|get_item:'new-value' }}&diff=True"
                                                               data-target="#filebucketModal"><strong>Diff</strong></a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No events were found in puppetdb for <strong>{{ certname }}</strong> with report
                                id: {{ hashid }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade filebucketModal" tabindex="-1"
         role="dialog"
         aria-labelledby="filebucketModal"
         aria-hidden="true"
         id="filebucketModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $('#filebucketModal').on('hidden.bs.modal', function (e) {
            $(this).removeData('bs.modal');
        })
    </script>


{% endblock %}
