{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}

{% block content %}
    <form action="{% url 'nodes' %}" method="GET">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
            <span class="dropdown-header">Search for node:<br>
                 <label for="search">
                     <input class="form-control input-sm" name="search" id="search" type="text">
                 </label>
            </span>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th><a href="?sortfield=certname&sortfieldby={% if request.GET.sortfield == 'certname' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Certname<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'certname' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'certname' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=latestCatalog&sortfieldby={% if request.GET.sortfield == 'latestCatalog' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Latest Catalog<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'latestCatalog' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'latestCatalog' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=latestReport&sortfieldby={% if request.GET.sortfield == 'latestReport' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Latest Report<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'latestReport' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'latestReport' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=latestFacts&sortfieldby={% if request.GET.sortfield == 'latestFacts' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Latest Facts<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'latestFacts' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'latestFacts' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=success&sortfieldby={% if request.GET.sortfield == 'success' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Success<span class="glyphicon {% if c_r_sfieldby == 'asc' and c_r_sfield == 'success' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'success' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=noop&sortfieldby={% if request.GET.sortfield == 'noop' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Noop<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'noop' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'noop' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=failure&sortfieldby={% if request.GET.sortfield == 'failure' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Failure<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'failure' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'failure' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                    <th><a href="?sortfield=skipped&sortfieldby={% if request.GET.sortfield == 'skipped' %}{{ c_r_sfieldby_o }}{% else %}{{ c_r_sfieldby }}{% endif %}&limits={{ c_r_limit }}">Skipped<span class="glyphicon{% if c_r_sfieldby == 'asc' and c_r_sfield == 'skipped' %}glyphicon-chevron-up{% elif c_r_sfieldby == 'desc' and c_r_sfield == 'skipped' %}glyphicon-chevron-down{% endif %}"></span></a></th>
                </tr>
                </thead>
                <tbody>
                {% if node_list %}
                    {% for node in node_list %}
                        <tr>
                            <td><a href="{% url 'reports' node.0 %}">{{ node.0 }}</a></td>
                            <td>{{ node.1|json_to_datetime|date:'Y-m-d H:i:s' }}</td>
                            <td>{% if node.4 or node.5 or node.6 or node.7 %}
                                <a href="{% url 'reports' node.0 %}?latest=true&report_timestamp={{ node.2 }}">
                                    {{ node.2|json_to_datetime|date:'Y-m-d H:i:s' }}
                                </a>
                            {% else %}
                                {{ node.2|json_to_datetime|date:'Y-m-d H:i:s' }}
                            {% endif %}
                            </td>
                            <td>{{ node.3|json_to_datetime|date:'Y-m-d H:i:s' }}</td>
                                <td style="text-align: center"><p style="margin-bottom: 0"
                                                                  class="bg-success img-rounded">
                                    <strong>{{ node.4 }}</strong></p></td>
                                <td style="text-align: center"><p style="margin-bottom: 0"
                                                                  class="bg-info img-rounded">
                                    <strong>{{ node.5 }}</strong></p></td>
                                <td style="text-align: center"><p style="margin-bottom: 0"
                                                                  class="bg-danger img-rounded">
                                    <strong>{{ node.6 }}</strong></p></td>
                                <td style="text-align: center"><p style="margin-bottom: 0"
                                                                  class="bg-warning img-rounded">
                                    <strong>{{ node.7 }}</strong></p></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8"> No nodes were found in puppetdb.</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pagination-sm">
                            {% for page in tot_pages %}
                                <li {% if node_list.number == page %}class="active"{% endif %}><a
                                        href="?page={{ page }}&sortfield={{ c_r_sfield }}&sortfieldby={{ c_r_sfieldby }}&limits={{ c_r_limit }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" align="right">
            <form action="{% url 'nodes' %}" method="GET">
                {% csrf_token %}
            <span class="dropdown-header">Page Size:<br>
                <label for="req_limit">
                    <select name="limits" onchange="this.form.submit()">
                        {% mkrange 50 3050 50 as limitrange %}
                        {% for range in limitrange %}
                            <option value="{{ range }}"{% ifequal range|add:"0" c_r_limit|add:"0" %}
                                    selected="selected"{% endifequal %}>{{ range }}</option>
                        {% endfor %}
                    </select>
                </label>
            </span>
            </form>
        </div>
    </div>
{% endblock %}
