{% extends "pano/base.html" %}

{% load puppetdb_extras %}
{% load common %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Reports for {{ certname }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Hash</th>
                    <th>Environment</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Success</th>
                    <th>Noop</th>
                    <th>Failure</th>
                    <th>Skipped</th>
                </tr>
                </thead>
                <tbody>
                {% if reports %}
                    {% for report in reports %}
                        <tr>
                            <td>
                                <a href="{% url 'events' certname=report.certname hashid=report.hash %}?report_timestamp={{ report|get_item:'start-time' }}&envname={{ report.environment }}">{{ report.hash }}</a>
                            </td>
                            <td>{{ report.environment }}</td>
                            <td>{{ report|get_item:'start-time'|json_to_datetime|date:'Y-m-d H:i:s' }}</td>
                            <td>{{ report|get_item:'end-time'|json_to_datetime|date:'Y-m-d H:i:s' }}</td>
                            <td class="success">
                                <strong>{% get_status_summary report_status report.hash 'success' %}</strong></td>
                            <td class="info"><strong>{% get_status_summary report_status report.hash 'noop' %}</strong>
                            </td>
                            <td class="danger">
                                <strong>{% get_status_summary report_status report.hash 'failure' %}</strong></td>
                            <td class="warning">
                                <strong>{% get_status_summary report_status report.hash 'skipped' %}</strong></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No reports were found in puppetdb for <strong>{{ certname }}</strong></p>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pagination-sm">
                            {% for page in tot_pages|get_range %}
                                <li {% if curr_page == page %}class="active"{% endif %}><a
                                        href="?limits={{ c_r_limit }}&page={{ page }}">{{ page|add:'1' }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
