{% extends "pano/base.html" %}
{% load tz %}

{% block content %}
    {% if username %}
        <h3>Welcome {{ username }}</h3>
    {% else %}
        <div class="container">
            <form action="{% url 'index' %}" class="form-signin" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">Please sign in</h2>
                <span class="alert-warning">{{ login_error }}</span>
                <br>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" class="form-control" required autofocus>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" class="form-control" required>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                {% if nexturl %}
                    <input type="text" name="nexturl" id="nexturl" class="hidden" value="{{ nexturl }}">
                {% else %}
                    <input type="text" name="nexturl" id="nexturl" class="hidden" value="{{ request.GET.next }}">
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
